@use "../variables/colors" as *;

.fullscreen-modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 8rem;
  .overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba($color: $color-gray-900, $alpha: 0.5);
  }
}

.modal {
  background-color: #fff;
  z-index: 10;
  height: fit-content;
  border-radius: 0.5rem;
  .modal-body {
    padding: 1rem;
  }
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 1em;
    height: 3em;
    border-top: 1px solid $color-gray-100;
    gap: 0.5em;
  }
}
