@use "../variables/colors" as *;

.navbar {
  display: flex;
  align-items: center;
  padding-inline: 1em;
  background-color: $color-gray-900;
  gap: 1rem;
  height: 3.5rem;
  a > h3 {
    color: $color-gray-50;
    text-transform: uppercase;
  }
  .search-box {
    position: relative;
    width: 100%;
    max-width: 16em;
    height: 2rem;
    background-color: $color-gray-800;
    border-radius: 0.375em;
    svg {
      position: absolute;
      left: 0.325em;
      top: 50%;
      transform: translateY(-50%);
      color: $color-gray-400;
      pointer-events: none;
      font-size: 1.25em;
    }
    input {
      position: absolute;
      inset: 0;
      background-color: transparent;
      outline: none;
      border: none;
      padding-right: 1em;
      padding-left: 2.5em;
      color: $color-gray-50;
      &::placeholder {
        color: $color-gray-400;
      }
    }
    &:focus-within {
      box-shadow: 0 0 0 1px $color-gray-700;
    }
  }
  .tools-list {
    justify-content: flex-end;
    flex: 1;
    button {
      svg {
        color: $color-gray-300;
      }
      &:hover {
        background-color: $color-gray-800;
      }
      &:active {
        background-color: $color-gray-700;
      }
      &:hover,
      &:active {
        svg {
          color: $color-gray-50;
        }
      }
    }
  }
}
