@use "../variables/colors" as *;

.notes-list {
  list-style: none;
  padding: 0.5em;
  & > li {
    display: flex;
    position: relative;
    & > a {
      padding: 0.5em 1em;
      color: $color-gray-600;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 0.375em;
      p:nth-child(1) {
        font-weight: 500;
        margin-bottom: 0.125em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p:nth-child(2) {
        font-size: 0.875em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        b {
          opacity: 0.8;
        }
        span {
          opacity: 0.5;
        }
      }
      &:hover {
        color: $color-gray-900;
      }
      &.active {
        background-color: $color-accent-500;
        color: $color-accent-50;
      }
    }
  }
}
