@use "../variables/colors" as *;

.notebook-list {
  list-style: none;
  padding: 0.5em;
  & > li {
    display: flex;
    position: relative;
    & > a {
      padding: 0.5em 1em;
      color: $color-gray-600;
      overflow: hidden;
      flex: 1;
      display: flex;
      align-items: center;
      gap: 0.375em;
      border-radius: 0.375em;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        flex: 1;
      }
      & > svg {
        font-size: 1.25em;
      }
      & > span {
        font-size: 0.875em;
        opacity: 0.5;
      }
      &:hover {
        color: $color-gray-900;
      }
      &.active {
        background-color: $color-accent-500;
        color: $color-accent-50;
      }
    }
    button.options {
      display: none;
      width: 1.5em;
      height: 1.5em;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 0.625em;
      transform: translateY(-50%);
      border-radius: 0.375em;
      svg {
        color: inherit;
        font-size: 1.25em;
      }
      &:hover {
        background-color: $color-gray-100;
      }
      &:active {
        background-color: $color-gray-200;
      }
    }
    & > a.active ~ button.options {
      svg {
        color: $color-accent-200;
      }
      &:hover {
        background-color: $color-accent-400;
      }
      &:active {
        background-color: $color-accent-300;
      }
      &:hover,
      &:active {
        svg {
          color: $color-accent-50;
        }
      }
    }
    &:hover {
      button.options {
        display: flex;
      }
      & > a {
        padding-right: 2.5em;
      }
    }
  }
}
