@use "../variables/colors" as *;

.tools-list {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
  list-style: none;
  button {
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 0.375em;
    svg {
      font-size: 1.25em;
      color: $color-gray-600;
    }
    &:hover {
      background-color: $color-gray-100;
    }
    &:active {
      background-color: $color-gray-200;
    }
    &:hover,
    &:active {
      svg {
        color: $color-gray-900;
      }
    }
  }
  button.active {
    background-color: #fff;
    svg {
      color: $color-gray-900;
    }
  }
  .button-group {
    display: flex;
    list-style: none;
    background-color: $color-gray-100;
    border-radius: 0.375em;
    padding: 2px;
    button {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 0.25em;
    }
  }
}
