@use "../variables/colors" as *;

.tools-list {
  display: flex;
  align-items: center;
  gap: 0.25em;
  flex-direction: row;
  button {
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 0.375em;
    svg {
      font-size: 1.25em;
      color: $color-gray-600;
    }
    &:hover {
      background-color: $color-gray-100;
    }
    &:active {
      background-color: $color-gray-200;
    }
    &:hover,
    &:active {
      svg {
        color: $color-gray-900;
      }
    }
  }
}
