:root {
  --clr-gray-50: #fafafa;
  --clr-gray-100: #f4f4f5;
  --clr-gray-200: #e4e4e7;
  --clr-gray-300: #d4d4d8;
  --clr-gray-400: #a1a1aa;
  --clr-gray-500: #71717a;
  --clr-gray-600: #52525b;
  --clr-gray-700: #3f3f46;
  --clr-gray-800: #27272a;
  --clr-gray-900: #18181b;
}
