.app-nav-bar {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  padding-inline: 2em;
  .logo-wrapper {
    .logo {
      font-size: 1.125em;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
