@use "../variables/constants" as *;

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  & > .sidebar {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 3.5rem;
    width: $sidebar-width;
    &.folded {
      width: $folded-sidebar-width;
      & ~ .app-content {
        margin-left: $folded-sidebar-width;
      }
    }
  }
  .app-content {
    margin-left: $sidebar-width;
    height: 100%;
    flex: 1;
    overflow: hidden;
  }
}
