#note {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    gap: 1em;
    .title-input {
      flex: 1;
      font-weight: 600;
      font-size: 1em;
      padding: 0.25em 0.5em;
      border: none;
    }
    h3 {
      text-transform: none;
    }
    .tools-list {
      justify-content: flex-end;
    }
  }
  .note-content {
    overflow: hidden;
    flex: 1;
    display: flex;
    .document-editor,
    .document-preview {
      flex: 1;
      display: none;
    }
    &.editor .document-editor {
      display: block;
    }

    &.preview .document-preview {
      display: block;
    }

    &.side-by-side {
      .document-editor,
      .document-preview {
        display: block;
        overflow: hidden;
      }
    }
  }
}
