.notebook-wrapper {
  position: absolute;
  inset: 0;
  .notes-list-column {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
  }
  .notebook-content {
    position: absolute;
    left: 280px;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
